@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-dark {
    @apply bg-white text-black px-4 py-3 capitalize font-medium flex items-center justify-center gap-4 hover:bg-slate-100 transition-all;
  }

  .btn-indigo {
    @apply bg-indigo-600 text-white capitalize font-medium px-4 py-3 rounded;
  }

  .form-control {
    @apply bg-gray-900 p-3 rounded-sm outline-none w-full;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
