@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./tailwindstyles/buttons.css";
@import "./tailwindstyles/form.css";
@import "tailwindcss/utilities";
@import "./tailwindstyles/styles.css";
@import "./tailwindstyles/nav.css";
@import "./tailwindstyles/header.css";
@import "./tailwindstyles/table.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
